body {
    display: flex;
    justify-content: center;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    background: rgb(118,195,34);
    background: radial-gradient(circle, rgba(118,195,34,1) 0%, rgba(45,253,177,1) 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125vh;
    height: 100vh;
    border: solid 3px black;
    flex-direction: column;
    background-color: lightgrey;
}

.main-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vh;
    margin-top: -3vh;
}

.second-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    align-self: flex-start;
    margin-left: 9vh;
    margin-bottom: 5%;

}

.divs-containers {
    display: flex;
    align-items: center;
    width: 140vh;
    justify-content: center;
}

.sec-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: -4vh;
}

.div-izq {
    border: solid 1px black;
    text-align:start;
    width: 50vh;
    height: 33vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    padding: 1vh;    
    background-color: orange;
    margin-right: 3%;
}

.div-centro {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 20vh;
    height: 33vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    padding: 1vh;
    align-items: center;
    background-color: greenyellow;
    margin-right: 3%;
}

.ol-centro {
    margin-left: -13%;
}

.div-der {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 30vh;
    height: 33vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    padding: 1vh;
    align-items: center;
    background-color: lightskyblue;
}

.ol-derecha {
    margin-left: -6%;
}
